---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro</title>
    <ClientRouter />
  </head>
  <body>
    <h1>Astro 1</h1>
    <video autoplay loop muted playsinline style="max-width: 350px;">
      <source
        src="https://www.w3schools.com/html/mov_bbb.mp4"
        type="video/mp4"
      />
    </video>
    <a href="/2/">page 2</a>
  </body>
</html>
